body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('00Images/asd.jpg');
    background-size: cover;
}

#HeadingButton {
    width: 95vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#HeadingButton h1 {
    color: rgb(7, 43, 90);
    font-family: 'Londrina Solid', cursive;
    font-size: 48px;
}

h1 span {
    font-size: 65px;
    display: block;
    margin: -10px 0 0 0;
}

/* Code suggested by Jribh */
/* button {
    margin: 0 15% 0 0;
    height: 108px;
    width: 108px;
    border: 1px solid rgba(145, 145, 145, 0.2);
    background-color: rgba(145, 145, 145, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
    backdrop-filter: blur(2.5px);
    cursor: pointer;
    transition: background-color 0.25s;
} */

button {
    box-sizing: border-box;
    margin: 0 15% 0 0;
    height: 108px;
    width: 108px;
    border: 1px solid rgba(145, 145, 145, 0.2);
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    backdrop-filter: blur(2.5px);
    cursor: pointer;
    transition: background-color 0.4s;
}

/* Code suggested by Jribh */
/* button:hover {
    background-color: rgba(145, 145, 145, 0.3);
    transition: background-color 0.25s;
} */

button:hover {
    /* background-color: rgba(145, 145, 145, 0.3); */
    opacity: 1;
    transition: opacity 0.4s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 100px 25px rgba(0, 0, 0, .25);
    ;
    transition: all 0.5s;
}

#image {
    position: absolute;
    z-index: -10;
    width: 100vw;
}

/* #Bg {
    margin: 0%;
    background-image: url("./00Images/asd.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -10;
    position: absolute;

} */




/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* For what happens when the window shrinks below 1000pixels */
@media (max-width: 1000px) {
    body {
        background-repeat: no-repeat;
    }
}