/* Code for all the sheets and respective content inside */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 10px 0 10px 0;
    /* overflow: hidden; */
}

.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    height: 100px;
    margin: 0 0 50px 0;
}

#mainTitle {
    color: #3c4c7e;
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
    text-align: center;
}

.sheets {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 1000px;
    min-width: 400px;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 25px;
    margin: 0 0 50px 0;
    box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.25);
}

#sheet3 {
    margin: 0 0 10px 0;
}

.textPanels {
    box-sizing: border-box;
    width: 35%;
    height: 500px;
    margin: 0;
    padding: 0;
}

.vizPanels {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.headings {
    display: flex;
    width: 100%;
    color: #3c3c3c;
    font-family: 'Merriweather',
        serif;
    ;
    font-size: 24px;
    line-height: 1;
    text-align: left;
    margin: 0;
}

.bodyTexts {
    display: flex;
    width: 100%;
    color: #3c3c3c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: justify;
    margin: 20px 0 0 0;
}

.sketches {
    box-sizing: border-box;
    width: 550px;
    height: 375px;
    margin: 0 0 0 0;
}

.intPanels {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    margin: 10px 0 0 0;
}

.intPanels div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather',
        serif;
    margin: 10px 0 0 0;
}



/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* Code for the sliders */
.slider {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: inset 0 4px 10px 1px rgba(0, 0, 0, 0.25);
}

.slider::-webkit-slider-thumb {
    border: 2px solid;
    border-color: #373F51;
    background-color: #ED9B40;
}

.slider:hover {
    opacity: 1;
    transition: opacity 0.5s;
}



/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* Code for individual sketches */
#sketch1 {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch2 {
    justify-content: none;
    align-items: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

#Species {
    pointer-events: none;
}

.cls-4 {
    cursor: pointer;
}

.highlight-panel {
    width: 300px;
    height: 250px;
    padding: 30px 40px;
    position: absolute;
    display: none;
    border: 1px solid rgba(145, 145, 145, 0.2);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    /* backdrop-filter: blur(7.5px); */
    cursor: pointer;
}

.highlight-panel-images {
    width: 125px;
    height: 220px;
}

#grass-panel {
    margin: 100px 0 0 100px;
}

#lion-panel {
    margin: 90px 0 0 107px;
}

#buffalo-panel {
    margin: 50px 0 0 150px;
}

#zebra-panel {
    margin: 125px 0 0 50px;
}

#wildebeest-panel {
    margin: 100px 0 0 120px;
}

#gazelle-panel {
    margin: 125px 0 0 180px;
}

#giraffe-panel {
    margin: 50px 0 0 0px;
}

#elephant-panel {
    margin: 50px 0 0 40px;
}

#hyena-panel {
    margin: 90px 0 0 62px;
}

#tree-panel {
    margin: 100px 0 0 70px;
}

.highlight-panel-headings {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
}

.highlight-body-text {
    width: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    text-align: justify;
}



/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* Code for the last panel */
#lastPanel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    background-color: none;
    padding: 25px 42px;
    margin: 0 0 50px 0;
}

#HeadingButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 165px;
    background-color: none;
}

#HeadingButton h3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    color: #a8a8a8;
    font-family: 'Londrina Solid', cursive;
    font-size: 28px;
    text-align: center;
    margin: 0;
}

button {
    box-sizing: border-box;
    height: 108px;
    width: 108px;
    border: 1px solid rgba(145, 145, 145, 0.2);
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    backdrop-filter: blur(2.5px);
    cursor: pointer;
    transition: all 0.4s;
}

button:hover {
    opacity: 1;
    transition: opacity 0.4s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 100px 25px rgba(0, 0, 0, .25);
    transition: all 0.5s;
}



/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* For what happens when the window shrinks below 1000pixels */
@media (max-width: 1000px) {
    .titles {
        width: 90%;
    }

    .sheets {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        width: 90%;
        height: 800px;
        padding: 10px;
    }

    #sheet3 {
        margin: 0 0 50px 0;
    }

    .textPanels {
        width: 90%;
        height: 250px;
    }

    .vizPanels {
        width: 90%;
    }

    #svg_sheet_1 {
        width: 100%;
    }

    .sketches {
        width: 100%;
    }

    #sketch1 {
        width: 100%;
    }

    .intPanels {
        width: 100%;
    }

    .intPanels div {
        font-size: 12px;
    }

    #lastPanel {
        width: 90%;
        height: 400px;
    }

    #HeadingButton {
        width: 90%;
        height: 200px;
    }

    /* Stuff that changes in the sketches */
    /* #sketch2 {
        background-position-x: 40%;
    } */
}